<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Tone Analyzer
    </mat-panel-title>
    <mat-panel-description>
      Coloque os seus credenciais
    </mat-panel-description>
  </mat-expansion-panel-header>
  
  <form [formGroup]="myForm" (ngSubmit)="enviarCredenciais(myForm.value, myForm.valid)">
    <mat-form-field class="field">
      <input matInput placeholder="username" formControlName="username" [(ngModel)]="username"
      class="form-control" name="username">
      <mat-error *ngIf="myForm.controls.username.invalid">
        username é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    
    <mat-form-field class="field">
      <input matInput placeholder="password" formControlName="password" [(ngModel)]="password"
      class="form-control" name="password">
      <mat-error *ngIf="myForm.controls.password.invalid">
        password é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>

    <mat-action-row class="action">
      <!-- <mat-checkbox>Salvar</mat-checkbox> -->
      <mat-slide-toggle color="primary" (click)="saveOrNot()">{{ isSave ? 'Save!' : 'Not save' }}</mat-slide-toggle>
      <button mat-button color="primary" *ngIf="!enviando">ENVIAR</button>
      <mat-spinner class="spinner" *ngIf="enviando"></mat-spinner>
    </mat-action-row>
  </form>
</mat-expansion-panel>