.divBallon {
    min-width: 20%;
    max-width: 60%;
    border-radius: 1rem;
    margin: 1vh auto;
    padding: .4rem;
    user-select: text;
    cursor: text;
}

.logo {
    width: 5%;
}

.ballon {
    width: 92%;
    padding: 0;
}

.ballonLeft {
    float: left;
    background-color: #2980b9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border-top-left-radius: 0;
    color: #fff;
    margin-left: 8vw;
}

.ballonRight {
    float: right;
    background-color: #DADFE1;
    box-shadow: 0 1px 1px rgba(97, 18, 18, 0.5);
    border-top-right-radius: 0;
    word-wrap: break-word;
    margin-right: 5vw;
}

.imgWatson {
    border-radius: 5px;
    width: 3rem;
    height: 2rem;
    margin-top: 1.5vh;
    padding: 0;
}

#youtube {
    border-radius: 10px;
    overflow-y: auto;
    background-color: #F5F5F5;
    border: 1px solid #DADADA;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    position: relative;
    min-width: 30vw;
    max-width: 30vw;
    min-height: 40vh;
    margin-top: 0;
}

#youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (min-width: 768px) {

    .divBallon {
        border-radius: 2rem;
        margin: 2vh auto;
        padding: .5rem;
    }

    .logo {
        padding-right: 0;
    }

    .imgWatson {
        width: 4rem;
        height: 3rem;
    }

    .ballon {
        width: 100%;
    }

    .ballonLeft {
        border-top-left-radius: 0;
        margin-left: 0;
    }

    .ballonRight {
        border-top-right-radius: 0;
    }
}