<div class="back">
  <button mat-raised-button color="primary" (click)="goBack()"><mat-icon>keyboard_backspace</mat-icon> Voltar</button>
</div>

<div class="cadastro">
  <form [formGroup]="myForm" (ngSubmit)="salvarUser(myForm.value, myForm.valid)" class="form">
    <mat-form-field class="field">
      <input matInput placeholder="Digite o seu nome" formControlName="nome" [(ngModel)]="user.nome"
      class="form-control" name="nome">
      <mat-error *ngIf="myForm.controls.nome.invalid">
          Nome é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    
    <mat-form-field class="field">
      <input matInput placeholder="Digite o seu cpf" formControlName="cpf" [(ngModel)]="user.cpf"
      class="form-control" name="cpf">
      <mat-error *ngIf="myForm.controls.cpf.invalid">
          Cpf é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field">
      <input matInput placeholder="Digite a descrição" formControlName="descricao" [(ngModel)]="user.descricao"
      class="form-control" name="descricao">
      <mat-error *ngIf="myForm.controls.descricao.invalid">
          Descricao é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>

    <mat-select placeholder="Status" formControlName="admin" [(ngModel)]="user.admin" name="admin">
      <mat-option *ngFor="let status of admin" [value]="status.value">
        {{status.viewValue}}
      </mat-option>
    </mat-select>

    <mat-action-row class="action">
      <!-- <mat-checkbox>Salvar</mat-checkbox> -->
      <button mat-raised-button color="primary" *ngIf="!enviando">SALVAR</button>
      <mat-spinner class="spinner" *ngIf="enviando"></mat-spinner>
    </mat-action-row>
  </form>
</div>
<div class="canvas">
  <canvas #myChart></canvas>
</div>