<md-expansion-panel>
  <md-expansion-panel-header>
    <md-panel-title>
      Tone Analyzer
    </md-panel-title>
    <md-panel-description>
      Coloque os seus credenciais
    </md-panel-description>
  </md-expansion-panel-header>
  
  <form>
    <md-form-field>
      <input mdInput placeholder="username">
    </md-form-field>
    
    <md-form-field>
      <input mdInput placeholder="password">
    </md-form-field>

    <md-action-row class="action">
      <md-checkbox>Salvar</md-checkbox>
      <button md-button color="primary">ENVIAR</button>
    </md-action-row>
  </form>
</md-expansion-panel>