.container {
    width: 90vw;
    display: flex;
    margin: 2vh auto;
    height: auto;
}

.ul_movies {
    padding: 0;
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}

.li_movies {
    margin: 2vh auto;
    width: 98%;
}

.example-card {
    width: 100%;
}

.example-card img {
    margin: 0 auto;
    width: 100%;
    max-height: 50vh;
}

.example-header-image img {
    border-radius: 50%;
    height: 7vh;
}

.example-card p {
    display: none;
}

.actions {
    margin: 0 auto; 
}

@media (min-width: 768px) {

    .li_movies {
        margin-top: 2vh;
        margin-bottom: 2vh;
        margin-left: 2%;
        margin-right: 0;
        width: 23%;
    }
    
    .example-card {
        width: 100%;
        min-height: 70vh;
        max-height: 70vh;
    }

    .example-card .title {
        max-width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .example-card p {
        /* display: block; */
        max-height: 10vh;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}