<div class="container">
  <ul class="ul_movies">
    <li class="li_movies" *ngFor="let movie of movies">
      <mat-card class="example-card">
        <mat-card-header class="header">
          <div mat-card-avatar class="example-header-image">
            <img src="https://image.tmdb.org/t/p/w185/{{movie.backdrop_path}}">
          </div>
          <mat-card-title class="title">{{ movie.title }}</mat-card-title>
          <mat-card-subtitle>Data: {{ movie.release_date }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://image.tmdb.org/t/p/w185/{{movie.poster_path}}" alt="Photo of {{ movie.title }}">
        <mat-card-content>
          <p>
            {{ movie.overview }}
          </p>
        </mat-card-content>
        <mat-card-actions class="actions">
          <button mat-raised-button color="primary" (click)="goDetails(movie.id)">Detalhes</button>
          <button mat-raised-button>Compartilhar</button>
        </mat-card-actions>
      </mat-card>
    </li>
  </ul>
</div>