.chat {
    min-width: 95vw;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.panelChat {
    margin-top: 5vh;
    min-height: 40vh;
    max-height: 70vh;
    border: 1px solid rgba(30,30,120,.7);
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 95vw;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.panelChat::-webkit-scrollbar-track {
    background-color: #1A94C4;
}

.panelChat::-webkit-scrollbar {
    width: 6px;
    background: #1A94C4;
}

.panelChat::-webkit-scrollbar-thumb {
    background: rgba(11, 237, 114, .8);
}

.example-form {
    min-width: 95vw;
    width: 95vw;
    min-height: 10vh;
}

.example-full-width {
    width: 100%;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

/* SPIN */
.spinner {
    margin-top: auto;
    margin-left: 1vw;
    margin-bottom: 0;
  }
  
  .spinner > div {
    width: 15px;
    height: 15px;
    background-color: #1A94C4;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1s infinite ease-in-out both;
    animation: sk-bouncedelay 1s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }




@media (min-width: 768px) {
    
    .chat {
        min-width: 80vw;
        align-items: center;
    }

    .form {
        min-width: 80vw;
    }

    .panelChat {
        min-width: 80vw;
        min-height: 70vh;
        max-height: 70vh;
    }

    .example-form {
        min-width: 80vw;
        width: 80vw;
    }

    .spinner {
        margin-left: 3vw;
        width: 8vw;
    }
}