<mat-tab-group class="tabs">
  <mat-tab color="primary" label="Settings">
    <div class="menu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="apis">
          <mat-icon>dialpad</mat-icon>
          <span>APIs</span>
        </button>
        <button mat-menu-item routerLink="filmes">
          <mat-icon>local_movies</mat-icon>
          <span>Filmes</span>
        </button>
        <button mat-menu-item routerLink="users">
          <mat-icon>account_circle</mat-icon>
          <span>Users</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <span>Logo Out</span>
        </button>
      </mat-menu>
    </div>
    <router-outlet></router-outlet>
  </mat-tab>
  <mat-tab label="Chat">
    <div class="chat">
      <div class="form">
        <div id="divOverflow" class="panel-body panelChat">
          <div #divBallons></div>
          <div class="spinner" *ngIf="carregarMsg" scrollTo>
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>
    
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput #message maxlength="50" autofocus [(ngModel)]="dialogMessage" class="form-control"
            name="message" placeholder="Message" (keypress)="eventKeyHandler($event, message.value)">
            <mat-icon matSuffix>send</mat-icon>
            <mat-hint align="start"><strong>Tecle ENTER para enviar a mensagem</strong> </mat-hint>
            <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
          </mat-form-field>
        </form>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>