<md-tab-group class="tabs">
  <md-tab color="primary" label="Settings" *ngIf="isAdmin">
    <div class="menu">
      <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
      </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item routerLink="apis">
          <md-icon>dialpad</md-icon>
          <span>APIs</span>
        </button>
        <button md-menu-item routerLink="users">
          <md-icon>account_circle</md-icon>
          <span>Users</span>
        </button>
        <!-- <button md-menu-item>
          <md-icon>notifications_off</md-icon>
          <span>Disable alerts</span>
        </button> -->
      </md-menu>
    </div>
    <router-outlet></router-outlet>
  </md-tab>
  <md-tab label="Chat">
    <div class="chat">
      <div class="form">
        <div id="divOverflow" class="panel-body panelChat">
          <div #divBallons></div>
        </div>
    
        <form class="example-form">
          <md-form-field class="example-full-width">
            <input mdInput #message maxlength="50" autofocus [(ngModel)]="dialogMessage" class="form-control"
            name="message" placeholder="Message" (keypress)="eventKeyHandler($event, message.value)">
            <md-icon mdSuffix>send</md-icon>
            <md-hint align="start"><strong>Tecle ENTER para enviar a mensagem</strong> </md-hint>
            <md-hint align="end">{{message.value.length}} / 50</md-hint>
          </md-form-field>
        </form>
      </div>
    </div>
  </md-tab>
</md-tab-group>