<div class="container">
  <mat-card class="example-card">
    <mat-card-header class="head">
      <div mat-card-avatar class="example-header-image"><img *ngIf="movie" src="https://image.tmatb.org/t/p/w185/{{movie?.backdrop_path}}"></div>
      <div class="header">
        <mat-card-title class="title"><strong>{{ movie?.title }}</strong></mat-card-title>
        <mat-card-subtitle>{{ movie?.tagline }}</mat-card-subtitle>
        <mat-card-subtitle>Data de Lançamento: {{ movie?.release_date }}</mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-content class="content">
      <p>
        {{ movie?.overview }}
      </p>
    </mat-card-content>
    <div class="video" id="youtube">
      <mat-spinner class="spinner" *ngIf="buscando"></mat-spinner>
      <iframe [src]='videoUrl | safe' frameborder="0" *ngIf="!buscando" allowfullscreen></iframe>
    </div>
  </mat-card>
</div>