.container {
    width: 95vw;
    display: flex;
    margin: 2vh auto;
    min-height: 100vh;
}

.example-card {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
}

.head {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.example-header-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh
}

.example-header-image img {
    border-radius: 25px;
    min-height: 20vh;
    min-width: 60vw;
}

.header {
    margin-top: 4vh;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.content {
    width: 100%;
    text-align: center;
    height: auto;
}

#youtube {
    border-radius: 10px;
    overflow-y: auto;
    background-color: #F5F5F5;
    border: 1px solid #DADADA;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    position: relative;
    width: 100%;
    min-height: 50vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (min-width: 768px) {
    .container {
        width: 80vw;
        min-height: 80vh;
    }

    .head {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .example-header-image {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .example-header-image img {
        border-radius: 25px;
        max-height: 20vh;
        min-width: 18vw;
    }
    
    .header {
        margin-top: 0;
        width: 60%;
        align-items: flex-start;
    }
    
    .content {
        width: 80%;
        margin: 0 auto;
        margin-top: 6vh;
    }
    
    #youtube {
        min-width: 70vw;
        max-width: 70vw;
        min-height: 80vh;
        margin: auto;
        margin-top: 5vh;
    }
}