<mat-toolbar color="primary">
  <span>Bluehack</span>
</mat-toolbar>

<div class="chat">
  <div class="example-form" *ngIf="!inProgress">
    <form [formGroup]="myForm" (ngSubmit)="enviarDados(myForm.value, myForm.valid)" class="form">
      <mat-form-field class="example-full-width">
        <input matInput #cpf autofocus formControlName="cpf" 
        class="form-control" kzMask="999.999.999-99"
        placeholder="Digite o seu CPF '000.000.000-00'" >
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-error *ngIf="myForm.controls.cpf.invalid">
          CPF é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="loginFacebook()" *ngIf="!(user | async)?.uid" >Login with Facebook</button>
  </div>
  <div class="progress">
    <mat-progress-bar mode="indeterminate" *ngIf="inProgress"></mat-progress-bar>
  </div>
</div>

<button mat-raised-button color="primary" (click)="getFileUrl()">teste</button>